.faq button {
    font-size: 20px;
    cursor: pointer;
}

.faq {
    display: flex;
    margin-bottom: 150px;
    justify-content: space-between;
    margin-top: 150px;
}

.faq-container span {
    font-size: 14px;
    font-weight: bold;
    color: #c498e9;
    letter-spacing: 0.5px;
}

.faq-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.faq-container p{
    font-size: 16px;
}
.faq-container {
    max-width: 420px;
    letter-spacing: 0.5px;
    margin-right: 40px;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 440px;
    cursor: pointer;

}

.question {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff6e;
    margin-bottom: 10px;

}

.question-container h5 {
    font-size: 18px;
    margin-bottom: 10px;

}

.question-container p {
    font-size: 14px;
}

.question-container {
    margin-bottom: 15px;
    line-height: 20px;
}

.answer {
    max-width: 350px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.answer.active {
    max-height: 400px; 
    transition: max-height 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) and (max-width: 1175px) {
    .faq{
        padding: 20px;
    }
}
@media screen and (max-width: 1023px) {
    .faq{
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    .faq-container{
        text-align: center;
        margin: 0px auto;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 479px) {
    .faq-container{
        max-width: 300px;
    }
    .questions{
        max-width: 300px;
    }
}