.joinUs-container {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 70px 0px;
    border-radius: 14px;
    position: relative;
    background-color: #0e0b2c;
    max-width: fit-content;
    padding: 100px 200px;
    margin: 150px auto;
}

.joinUs-container::after,
.joinUs-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(purple, white, purple, white, purple);
    z-index: -1;
    padding: 2px;
    border-radius: 14px;
}

.joinUs-container::before {
    filter: blur(1rem);
}

.newsletter-control {
    max-width: 550px;
}

.newsletter-control span {
    font-size: 14px;
    font-weight: bold;
    color: #c498e9;
    letter-spacing: 0.5px;
}

.newsletter-control h2 {
    font-size: 40px;
    margin: 20px 0;
}

.newsletter-control p {
    font-size: 16px;
}

.email-container {
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 1px;
    border-radius: 4px;
    margin-top: 30px;
}

.email-container input {
    padding: 16px 100px 17px 20px;
    background-color: transparent;
    border: none;
    outline-style: none;
    color: #fff;
}

.email-container button {
    padding: 12px 20px;
    margin: 0 2px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(to bottom, #c498e9, #531a9e);
    cursor: pointer;
    font-weight: 600;
    font-family: "Poppins";
    overflow: hidden;
    color: #000000;
}

.email-container button:hover {
    transition: background-image 3s ease-in-out;
    background-image: linear-gradient(to bottom, #531a9e, #c079fa);
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .joinUs-container {
        padding: 100px 150px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .joinUs-container {
        padding: 100px 90px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .joinUs-container {
        padding: 50px 10px;
    }

    .newsletter-control {
        max-width: 400px;
    }
}


@media screen and (max-width: 599px) {
    .joinUs-container {
        padding: 50px 20px;
    }

    .newsletter-control {
        max-width: 200px;
    }

    .newsletter-control span {
        font-size: 10px;
    }

    .newsletter-control h2 {
        font-size: 30px;
    }

    .newsletter-control p {
        font-size: 12px;
        flex: wrap;
    }

    .email-container {
        border: 2px solid rgba(255, 255, 255, 0.1);
    }

    .email-container input {
        padding: 16px 100px 17px 20px;
    }


}

@media screen and (max-width: 379px) {
    .joinUs-container {
        padding: 50px 10px;
    }

    .newsletter-control {
        max-width: 220px;
    }

    .newsletter-control span {
        font-size: 10px;
    }

    .newsletter-control h2 {
        font-size: 30px;
    }

    .newsletter-control p {
        font-size: 12px;
        flex: wrap;
    }




}
