.mobile-menu {
    position: fixed;
    top: 0;
    right: 0; 
    z-index: 1001; 
}

.menu-toggle {
    font-size: 36px;
    display: none; 
    background-color: transparent; 
    color: #e2e2e2; 
    border: none;
    cursor: pointer; 
    position: fixed; 
    top: 15px;
    right: 10px; 
    z-index: 1002; 
    outline: none;
}
.no-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.menu {
    display: none;
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%; 
    height: 100%; 
    color: #e2e2e2; 
    background-color: #333; 
    z-index: 1000; 
}



.menu.open {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px; 
}

.menu li {
    border-bottom: 1px solid #444; 
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #e2e2e2;
    outline: none;
    font-size: 32px; 
}

.menu a:hover {
    background: #444;
}

@media screen and (max-width: 1023px) {
    .menu-toggle {
        display: block; 
    }
}