
.navbar{
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    overflow: hidden;
    border-bottom: 1px solid;
    border-image: radial-gradient( #ffffff, #00000000) 1;
    position: fixed;
    z-index: 10;
    width: 100%;
}


.logo-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.logo-container img{
    height: 25px;
    margin-right: 5px;
}

.navbar ul{
    display: flex;
    padding: 0;
}

.navbar ul li a{
    display: flex;
    padding: 0 35px;
    cursor: pointer;
    color: #f7f7f7cc;
    font-size: 15px;
}
.navbar ul li a:hover{
    color: #fff;
}
.social-container{
    font-size: 20px;
}
.social-container .discord{
    font-size: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 1023px) {
    .navbar{
        display: none;
    }
}
  

/* MENU MOBILE */


.mobile-menu {
    position: fixed;
    top: 0;
    right: 0; 
    z-index: 1001; 
}

.menu-toggle {
    font-size: 36px;
    display: none; 
    background-color: transparent; 
    color: #e2e2e2; 
    border: none;
    cursor: pointer; 
    position: fixed; 
    top: 15px;
    right: 10px; 
    z-index: 1002; 
}

.menu {
    display: none;
    position: fixed;
    top: 0px;
    right: 0;
    width: 50%; 
    height: 100%; 
    color: #e2e2e2; 
    background-color: #0d0725;
    z-index: 1000; 
}

.menu.open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1; 
    backdrop-filter: blur(1px);
}

.menu.open {
    display: block;
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px; 
}

.menu li {
    border-bottom: 1px solid #444; 
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #e2e2e2;
    outline: none;
    font-size: 20px; 
}

.menu a:hover {
    background: #444;
}

@media screen and (max-width: 1023px) {
    .menu-toggle {
        display: block; 
    }
}

@media screen and (min-width: 1023px) {
    .menu {
        display: none !important; 
    }
}