.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.table-container span{
    font-size: 14px;
    font-weight: bold;
    color: #c498e9;
    letter-spacing: 0.5px;
}
.table-control{
    margin-top: 40px;    
}
.table-header h2{
    font-size: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

td img{
    width: 36px;
    height: 36px;
    margin-right: 5px;
    vertical-align: middle;
}

.table-body table,td,th{
    padding: 1rem;
}

.table-body table{
    border: 1px solid rgb(130, 128, 131);
    border-radius: 14px;
    background-color: #f7f7f707;
    backdrop-filter: blur(7px);
    width: 100%;
    box-shadow: 0 .4rem .8rem rgba(37, 37, 37, 0.333);
}




